/* CSS reset */
body {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}


/* Utils */
.container {
    max-width: 550px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex-basis: 100%;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

h2,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

.color-yellow {
    color: rgb(241, 155, 60);
}

.color-purple {
    color: rgb(75, 58, 102);
}

.bg-grey {
    background-color: rgb(246, 245, 243);
}

.bg-white {
    background-color: white;
}

.bg-purple {
    background-color: rgb(121, 106, 160);
}

.btn {
    color: white;
    padding: 7px 12px;
    border-radius: 20px;
}

.fa-solid {
    color: rgb(241, 155, 60);
    margin-left: 5px;
}

img {
    max-width: 100%;
}

/* Header */
.header-title {
    font-family: 'Nerko One', 'cursive';
    text-transform: uppercase;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    margin: 10px 0;
    padding: 0 20px;
}

/* todo Main */

/* todo Main top */
.course-type {
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: lighter;
    font-size: 0.9rem;
}

.dessert-type-rate {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;
}

.dessert-type-rate .left {
    gap: 5px;
}

.dessert-type-rate .hidden-title {
    display: none;
}

.dessert-type-rate .right {
    align-items: center;
    font-size: 0.7rem;
}

.rate {
    text-transform: uppercase;
    color: white;
    background-color: rgb(241, 155, 60);
    margin-left: 10px;
    font-weight: bold;
}

/* todo Video + small-infobox */
.video-info {
    box-shadow: 1px 1px 10px lightgray;
}

.video-box {
    width: 100%;
}

.video {
    display: block;
    border: 0;
    width: 100%;
    height: 310px;
}

.small-infobox {
    padding: 15px;
    font: 0.8rem bold;
}

.small-infobox .top {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    font-family: 'montserrat';
    font-weight: bold;
}

.kcal {
    background-color: rgb(121, 106, 160);
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 0;
}

.small-infobox .top span {
    color: rgb(241, 155, 60);
}

.small-infobox .top,
.bottom .fa-solid {
    margin-right: 5px;
}

.small-infobox .bottom {
    padding-top: 15px;
    font-size: 0.6rem;
}

.small-infobox .bottom .fa-solid {
    color: black;
}

.col.bottom.bg-white {
    width: 100%;
    padding: 20px;
}

.prep-guide li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 5px;
    padding: 5px 0;
}

.prep-guide ul h6 {
    font-weight: lighter;
}

/* todo Social link */
.row.social {
    padding: 10px 0;
}

.social ul {
    justify-content: space-between;
    align-items: center;
}

.social a {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightgray;
}

.social h6 {
    display: none;
}

.fa-facebook {
    color: dodgerblue;
}

.fa-twitter {
    color: skyblue;
}

.fa-instagram {
    color: rgb(211, 115, 142)
}

.fa-pinterest,
.fa-youtube {
    color: red;
}

/* todo Adv space */
.adv-image {
    max-width: 100%;
    padding-bottom: 20px;
    display: none;
}

/* todo Main bottom */
.presentation-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
}

.break-line {
    width: 6rem;
    border: 1px solid rgb(241, 155, 60);
    margin: 20px 0;
}

.presentation.row {
    justify-content: center;
    align-items: center;
}

.dessert-image {
    max-width: 50%;
    float: left;
    padding-right: 10px;
}

.description {
    font-size: 1rem;
    line-height: 1.9rem;
    padding-bottom: 3rem;
    margin: 0;
}


/* *Footer */
footer {
    padding: 15px;
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
}

/* *Footer top */


.firm-name {
    font-size: 0.7rem;
    font-weight: bold;
}

.firm-address {
    font-size: 0.7rem;
    padding: 5px 0;
    font-weight: normal;
}

/* *Footer bottom */
.footer-bottom ul {
    justify-content: center;
    gap: 20px;
    font-size: 0.6rem;
}

.footer-bottom a {
    text-decoration: underline;
    color: white;
}